/*font-family: "Raleway",serif;
 */
 body{
    font-family: "Roboto",sans-serif;
    color:#434455;
    background-color: #ffffff;
 }
 
 ul, ol{
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 h1,h2,h3,h4,h5,h6,p{
   margin: 0;
 }
img{
   display: block;
}
 a{
   text-decoration: none;
 }

 .title-strategy,
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .container{
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;

 }

 /*---------------header---------------*/
.page-header{
   border-bottom: 1px solid rgb(231, 233, 252);
   box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav{
   display: flex;
   align-items: center;
}

.nav-list{
   display: flex;
   align-items: center;
   gap: 40px;
}

.nav-item{

}

      
.header-container{
   display: flex;
   align-items: center;
}

.header-logo {
   padding: 24px 0;
   margin-right: 76px;
}

.header-logo .logo-part {
   color: #2E2F42;
}




.nav-link{
   position: relative;
   color:#2E2F42;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.50;
   letter-spacing: 0.02em;
   padding: 24px 0;
   display: block;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.nav-link::after{
   content:'';

   position: absolute;
   left: 0;
   bottom: -1px;

   width: 100%;
   height: 4px;
   border-radius: 2px;

   background-color: #404BBF;

   opacity: 0;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after{
   opacity: 1;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts{
   font-style: normal;
   margin-left: auto;
}

.contacts-list {
   display: flex;
   align-items: center;
   gap: 40px;
}

.contacts-link{
   display: block;
   padding: 24px 0;
   color: #434455;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
h1:hover,
h2:hover,
h3:hover,
li>p:hover{
   text-decoration-line: underline;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current{
   color: #404BBF;
   
   /*text-decoration-line: underline;*/
}
/*---------------main-----------------*/
    /*-----section-one-----*/
section{
   
}   

.section-title{
   
   background: #2E2F42;
   background-image:linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), 
      url(../images/office.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   max-width: 1440px;
   margin: 0 auto;
   padding: 188px 0;
}




.section-titles-list{
   margin: 0 auto;
   max-width: 496px;
   color: #FFFFFF;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   margin-bottom: 46px;
}

.section-button{
   min-width: 169px;
   min-height: 56px;
   border-radius: 4px;
   color: #FFFFFF;
   background-color: #4D5AE5;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   display: block;
   border: none;
   margin: 0 auto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus{
   background-color: #404BBF;
      border: none;
}
      /*-----section-two--strategy---*/
h2 {
   color: #2E2F42;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
}

h3{
      color: #2E2F42;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
}

li>p{
      color: #434455;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.02em;
}


.strategy{
   padding: 120px 0;
}


.strategy-box{
   
   display: flex;
   gap: 24px;
}

.icon-box{
   display: flex;
   justify-content: center;
   padding: 24px 0;
   border: 1px solid rgb(142, 143, 153);
   background-color: #F4F4FD;
   border-radius: 4px;
   align-items: center;
   height: 112px;
   margin-bottom: 8px;
      
}
.icon-strategy{
   
  
}

.item-strategy{
   width: calc((100% - 72px) / 4);
}

.strategy-title-list{
   
}

.strategy-paragraph{
   margin: 0 auto;
}

.team{
   background: #F4F4FD;
   padding: 120px 0;
}

.team-box{
   display: flex;
   align-items: center;
   gap: 24px;
}

.page-team{
   margin-bottom: 72px;
}

.team-item{
   background: #FFFFFF;
   margin: 0 auto;
   align-items: center;
   border-radius: 0 0 4px 4px;
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }

 .team-icon-title{
   
     display: flex;
     gap: 24px;
     justify-content: center
   
 }

 .team-icon-item{
  
      
      

 }
.team-icon-a{
width: 40px;
height: 40px;
background: rgb(77, 90, 229);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.team-icon-cover:hover,
.team-icon-cover:focus{
 background-color: #404bbf;
 transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

 .team-icon{
   fill: #f4f4fd;
   
  
     
 }

 

.cover{
   padding:32px 16px;
   text-align: center;
}

.team-photo{

}

.team-title{
   margin-bottom:  8px;
}

.team-paragraph{
   margin-bottom: 8px;
}
/*------------Portfolio------------*/
.portfolio{
   padding: 120px 0;
}

.title-portfolio{
   margin-bottom: 72px;
}

.box-portfolio{
   display: flex;
   flex-wrap: wrap;
   row-gap: 48px;
   column-gap: 24px;
}

.portfolio-item{
   max-width: 360px;
   margin: 0 auto;
      transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .taste-cover-text{
   transform: translateY(0);
   
}

.portfolio-box-wrape{
   position: relative;
   overflow: hidden;
}

.taste-cover-text{
   position: absolute;
   top: 0;
   left: 0;
   padding: 40px 32px;
   background-color: #4D5AE5;
   font-size: 16px;
   font-weight: 1.5;
   line-height: 24px;
   letter-spacing: 0.02em;
   height: 100%;
   color: #F4F4FD;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}



.portfolio-photo{
   
}

.portfolip-box-photo{
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.portfolio-title-list{
   margin-bottom: 8px;
}

.portfolio-item:hover{
   box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);

}

/*---------------footer---------------*/
.page-footer{
   background: #2E2F42;
   padding: 100px 0;


}
 
.footer-logo .logo-part {
    color: #F4F4FD
 }
.footer-logo{
   margin-bottom: 16px;
   display:inline-block
}

.footer-container{
   display: flex;
   align-items: baseline;
   
   
} 

.footer-box-logo{
  
   margin-right: 120px;   
}

.footer-paragraph{
      width: 264px;
      color: #F4F4FD;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
}

.footer-box-dbl{
   align-items: center;
   
}


.footer-paragraph-dbl{
   
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom : 16px;
}

.team-icon-title.footer-icon{
   gap: 16px;
   padding: 0;
}

.footer-input:hover,
.footer-input:focus,
.footer-btn:hover,
.footer-btn:focus,
.footer-icon-cover:hover,
.footer-icon-cover:focus {
   background-color: #31d0aa;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box-email{
   margin-left: auto;
}  

.footer-input {
   width: 264px;
   height: 40px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 16px;
   background: #2E2F42;
   border-radius: 1px;
   color: #ffffff;
   box-sizing: border-box;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   color: rgb(255, 255, 255);
   font-size: 12px;
   font-weight: 400;
   line-height: 2;
   letter-spacing: 0.04em;
   text-align: left;
   background-color: transparent;
}

.footer-input::placeholder{
   color: #ffffff;
}

.footer-btn {
   min-width: 165px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 24px;
   background-color: #4D5AE5;
   color: #ffffff;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   text-align: center;
   border: none;
   cursor: pointer;
   border-radius: 4px;

}

.footer-box-form{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:24px;
   
   
}

.footer-icon-telegramm{

   fill: #ffffff;
   margin-left: 16px;
  
}

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 408px;
   min-height: 584px;
   border-radius: 4px;
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
   background-color: #FCFCFC;
   transform: translate(-50%, -50%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
   transform: translate(-50%, -100%);
}



.modal-close-btn{
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #E7E9FC;
   border-radius: 50%;
   top: 24px;
   right: 24px;
   position: absolute;
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.button-cross {
   fill: #2E2F42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:focus .button-cross{
   fill: #FFFFFF;
}

.modal-title{  
   color: #2E2F42;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   margin-bottom: 16px;
}

.modal-title:hover{
   text-decoration-line: underline;
}
.modal-field{
   margin-bottom: 8px;
}

.modal-input:focus{
   border-color: #4D5AE5;
}

.modal-input{
   width: 100%;
   border-radius: 4px;
   background-color: transparent;
   padding-left: 38px;
   color: #C4C4C4;
   height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-input:focus + .modal-input-icon{
   fill: #4D5AE5;
}

.modal-lable{
   display: block;
   color: #8E8F99;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.17;
   letter-spacing: 0.04em;
   text-align: left;
   margin-bottom: 4px;
}

.modal-field-comment{
   margin-bottom: 16px;
}

.modal-input-icon{
   fill: #2E2F42;
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap{
   position: relative;
}

.modal-textarea{
   width: 100%;
   height: 120px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
   padding: 8px 16px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border-radius: 4px;
   border-color: 1px solid #4d5ae5;
   background-color: transparent;
   border: 1px solid rgba(46, 47, 66, 0.4);
   resize: none;
}

.modal-textarea:focus{
   border-color: #4D5AE5;
}

.check-box{
   margin-bottom: 24px;
}

.modal-check-text{
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: #8E8F99;
}

.modal-check-item{
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
   margin-right: 8px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal-check:checked + .modal-check-text .modal-check-item{
   background-color: #404BBF;
   border: none;
   fill: #F4F4FD;
}
.icon-chack{
      display: inline-flex;
}

.modal-btn{
   display: block;
   position: static;
   left: 0;
   transform: translateX(50%);
   min-width: 169px;
   height: 56px;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   text-align: center;
   color: #ffffff;
   cursor: pointer;
   background-color: #4D5AE5;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border-radius: 4px;
}
.privat-text{
   color: #4D5AE5;
   text-decoration: underline;
}

